{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main id="main">
        <div class="container">
        <div class='text-center mt-4 mb-2'>
            <h2 style="color:#00004d;"><b>{{course.title}}</b></h2>
        </div>
        <br>
        <br>
        <div class="row">
            {% if enrolled_user %}
                {% include 'courses/section_sidebar.html' with course=course sections=sections %}


                <div class="col-md-9" data-aos="fade-left">
                    <!-- Tabs content -->
                <div class="tab-content pb-5">
                    <div class="tab-pane fade shadow rounded bg-white show active p-5">
                    <h4 class="font-italic mb-4 dark-blue">Discussion Forum</h4>
                    <p class="font-italic text-muted mb-2">{{course.discussion_forum_text}}</p>
                    </div>
                </div>
                    
                <div class="tab-content pb-5">
                    <div class="tab-pane fade shadow rounded bg-white show active p-5 black-link">
                    <h4 class="font-italic mb-4 dark-blue"><i class="fas fa-graduation-cap"></i>Section Forums</h4>
                    <hr class="orange_row">
                    <table class="table table-hover">
                        <tbody>
                            {% for section in sections %}
                                <tr style="font-size: 18px;">
                                    <td scope="col" class="align-middle"><a href="{% url 'weekly_forum' course.id course.url_link_name section.url_name %}"><h4 class="font-italic mb-4 dark-black">{{section.name}}:</h4></a></td>
                                    <td scope="col" class="p-2">
                                        <a href="{% url 'weekly_forum' course.id course.url_link_name section.url_name %}">
                                            <h5 class="font-italic mb-4 dark-black">
                                                {% for module in section.module_set.all %}
                                                    {{module.title}}
                                                    <div class="small-margin"></div>
                                                {% endfor %}
                                                
                                            </h5>
                                        </a>
                                    
                                    </td>
                                    <td scope="col" class="align-middle">
                                        <a class="btn btn-primary active" role="button" href="{% url 'weekly_forum' course.id course.url_link_name section.url_name %}">
                                            {{section.name}} Forum
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                        
                        </tbody>
                    </table>

                    </div>
                </div>

                </div>
            <!-- Tabs content -->
            {% else %}
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="tab-content pb-5">
                        <div class="tab-pane fade shadow rounded bg-white show active p-5">
                        <h4 class="font-italic mb-4 dark-blue">Validity Ended</h4>
                        <p class="font-italic text-muted mb-2">Your Course duration has been ended, please contact us via email[contact@deepeigen.com] if you want additional time to cover the course.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            {% endif %}
            

        </div>
        </div>
    
    </main>

    <br>
    <div class="container">
        <ol aria-label="breadcrumbs" class="breadcrumblist" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="menubar">
          <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="{% url 'home'%}" itemprop="item">
              <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deep Eigen</font></font></h6>
            </a>
            <meta content="1" itemprop="position">
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="{% url 'courses'%}" itemprop="item">
              <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Courses</font></font></h6>
            </a>
            <meta content="2" itemprop="position">
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="{% url 'course_detail' course.id course.url_link_name%}" itemprop="item">
              <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{course.title}}</font></font></h6>
            </a>
            <meta content="3" itemprop="position">
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Discussion Forum</font></font></h6>
            <meta content="4" itemprop="position">
          </li>
        </ol>
    </div>
    <br>
{% endblock %}