{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
    <body>
        <br>
        <div align="center">
            <a href="https://www.deepeigen.com/" style="text-decoration: none; font-size: 40px; color: #c02537; font-family: 'Arvo', serif;"><b>&nbsp;Deep Eigen</b></a>
        </div>
        <br>
        <h2 style="color: orange;">Hi {{user.full_name}},</h2>
        <p style="font-size: 16px;">
            There is a New response for your question [{{question.title}}] on {{section.name}} of {{course.title}}.
            <br>
            <br>
            <a href="https://www.deepeigen.com{% url 'individual_question' course.id course.url_link_name section.url_name question.id %}">view response</a>
            <br>
            <br>
            <b>Response:</b>{{reply}}
        </p>
        <br>
        <p>
            If you think it's not you, please ignore this email.</p>
        <br>
        <p style="color: grey;">Regards,<br>DeepEigen Team</p>
    </body>
</html>
{% endautoescape %}