{% extends 'base.html' %}


{% block content %}

    <main id="main">

        <section class="gradient-custom" data-aos="fade-up">
        <div class="container py-5 h-150">
            <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    <h3 style="font-family: 'Arvo',serif;color:#00004d" class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Reset Password</h3>
                    {% include 'includes/alerts.html' %}
                    <form action="{% url 'resetPassword' %}" method="POST">
                        {% csrf_token %}
        
                        <div class="row">
                            <div class="col-md-12 mb-4">
            
                                <div class="form-outline">
                                    <input type="password" id="password" class="form-control form-control-lg" name="password" required/>
                                    <label class="form-label" for="password">Create Password*</label>
                                </div>
            
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-4">
            
                                <div class="form-outline">
                                    <input type="password" id="confirm_password" class="form-control form-control-lg" name="confirm_password" required/>
                                    <label class="form-label" for="confirm_password">Confirm Password*</label>
                                </div>
            
                            </div>
                        </div>
                
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-4">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                            </div>
                        </div>
        
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

    </main>
    <br>
    <br>
{% endblock %}