{% extends 'base.html' %}

{% load static %}

{% block content %}
  <main id="main" style="font-family: 'Times New Roman',Times,serif; font-size: 20px;">
    <div class='text-center mt-4 mb-5'>
      <h2 style="color:#00004d;"><b>Deep Eigen Privacy Policy</b></h2>
    </div>
    <div class="container pb-5" data-aos="fade-up">
      <div class="jumbotron" id="jumbotron_termsandcondition">
        <!-- <br> -->
        <!-- <br> -->
        <!-- <h3 style="color:#00004d;" class="text-center">Introduction</h3><br> -->
        <p>
          We, at Deep Eigen, aim to adhere to the ethical standards pertaining to collection, usage and safeguarding of
the information provided by you during the use of the Application and the Website.
        </p>
        <p>
          Deep Eigen Private Limited is a private limited company incorporated under the Companies Act,
          2013, having its registered office at 42 Abhinav Regal Homes, Awadhpuri, Bhopal- 462022
          <b>("Company"; "We"; "Our"; "Deep Eigen"). </b> 
          The Company owns, operates and manages the website
          <u><a style="color:#00004d;" href = "https://www.deepeigen.com">Deep Eigen </a></u>
          <b>("Website")</b> and the mobile application for mobiles, smart devices and any
          other compatible device <b>("Application")</b> under this brand <b>'Deep Eigen'</b> (collectively referred to as
          the <b>'Platform'</b>) whereby We, through the Platform, provide various Courses to the Users and all the
          features, functionalities and other allied services and products therein <b>("Services")</b>, subject to term
          and conditions indicated in this document and/or any part of the Platform.
        </p>

        <p>
            This privacy policy governs your use of the Platform and the other associated applications, products,
websites and services managed by the Company and described the online information collection of the users
and the usage of the information collected therein. This Privacy Policy <b>("Policy")</b> applies to the Platform and
the Services. Please read the Policy before using the Services. Your usage of the Services and/or the
registration with us via any mode or device shall signify your acceptance of this Policy and you agree to be
legally bound by the terms and conditions mentioned therein. If you do not agree with the terms of this
Policy, kindly do not register or use the Website, Application our products or avail any of our Services.
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Definition</h3><br>

        <p>
In addition to other words and expressions that may be defined elsewhere in this Policy, unless the
context otherwise requires, the following capitalized terms wherever used in this Policy shall have
the meanings as ascribed hereunder:
        </p>

        <p>
         <b> "Courses"</b> means courses listed on the Website or Application including but not limited to various
courses related to mathematics, engineering, robotics, artificial intelligence.
        </p>

        <p>
          <b>"Client"</b> means any User who avails/has availed the Courses offered on the Platform subject to the
terms and conditions stipulated in these Terms, and any additional conditions, undertakings and
disclaimers indicated in this document and/or any part of the Platform.
        </p>

        <p>
         <b> "Payment Method"</b> means a payment method that You have added to Your User Account, such as a
credit card, debit card or net banking and is being used for undertaking the payment for the Services.
        </p>

        <p>
          <b>"Users" "You"</b> or <b>"Your"</b> means any natural or legal persons/entity(ies) (including the Clients), as the
case may be, who have access to and uses the Platform for the purpose of providing and/or availing
the Services offered by the Company, in accordance with these Terms. The term <b>"Users" "You"</b> or
<b>"Your"</b> shall mean and include any other persons/entity who access the Platform without such a User
Account.
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">User Information</h3><br>
          <p>
            The Platform / Services collect certain information and data when you access and/or download
and/or register via the Platform. There are two types of information being collected: (i) User
Provided Information (ii) Automatically Collected Information during the usage of the Service.
          </p>
        <h4 style="color:#00004d;" class="text-center">User Provided Information and Access</h4><br>

        <p>
After accessing the Platform, you are prompted to make an account and during this process we may
collect your email address, name, phone number, address, transaction related information while
availing any offers and other personal details. We may also collect information to enable us to check
and verify your identity, unique identifiers, such as username or password; details entered to and
stored in the account of the User on the Platform, information provided to us through our Service,
interaction with our customer service, participation in surveys or marketing promotions. We may
also ask you to share the OTP sent via SMS or a password or to verify a link sent on your e-mail
address. All this is necessary to uniquely identify and authenticate you. With your permission we may
also collect info about your location, age, gender and contact list.
        </p>
        
        <p>
While you are using our Services on the Platform, we record your responses and activity data,
including but not limited to, textual and voice responses and session details.
        </p>

        <p>
While using the Platform, we may ask permission to access the microphone and the camera for
providing better Services and products. We may ask for permission to access your data storage.
However, the data storage access shall be limited to the access to store the data downloaded or saved
during the usage of the Services or the products directly in the User's device for ensuring easy storage
and access to the User. We shall not utilize this permission to access to any other data on the User's
device, except as expressly mentioned in this Policy.
        </p>

        <p>
The said information collected from the users could be categorized as "Personal Information",
"Sensitive Personal Information" or other information and would be governed in accordance with the
Information Technology (Reasonable security practices and procedures and sensitive personal data
or information) Rules, 2011 (the "IT Rules") and shall collectively be referred to as "Information" in
this Policy.
        </p>

        <p>
We may use the Information to contact you from time to time, to provide you with the Services,
important information and circulate marketing and promotional material. We may ask you for more
information for identification purposes if required (personal information). The User shall be
permitted to access the Website or Application via any device provided that the log in/access
credentials match with the User credentials. In the event the User uses a new device to access or
log-in to the Website or Application, the User shall be required to grant access for the new device, as
may be required.  
        </p>

        <p>
We will, at all times, provide the option to you to not provide the Personal Information or Sensitive
Personal Information, which we seek from you. In such event, however, the Company fully reserves
the right not to allow further usage of the Application or the Website or provide any
Services/products thereunder to you.
        </p>
        <p>
Any portion of the Information containing personal data relating to minors or a person of unsound
mind provided by you shall be deemed to be given with the consent of the legal guardian. Such
consent is deemed to be provided by your registration with us.
        </p>

        <br>
        <br>
        <h4 style="color:#00004d;" class="text-center">Automatically Collected Information</h4><br>

      <p>
We may collect and store certain information automatically when you login to the Website or
download or use the Application, including but not limited to, the IP address, your device ID and
device type (in case of the Application).
      </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">COOKIES</h3><br>

      <p>
We also use cookies for data collection. A cookie stores small bit of information stored by your
browser and track your preferences which can be utilized in order to provide customised services.
This data is used to improve the services and offerings, such as providing more content in areas of
interest to a majority of users. However, you can disable cookies and reset the browser whenever you
want through your browser settings. Although, some of the features, services or products may not
function in a proper manner if the cookies are disabled and we would not be able to provide certain
personalised services and a better learning experience.
      </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">USE OF THE INFORMATION AND DISCLOSURE</h3><br>

        <p>
          We collect the Information for the reasons including but not limited to the following:
        </p>
        <ul style="list-style-type:circle">
          <li>
            To analyse and draw trends from the aggregated statistics of the User activity.
           </li>
           <li>
           To provide personalised recommendations and maintain general and personalised content </li>
           <li>Identification and authentication of your use of Company Services </li>
           <li>To improve our features and provide seamless service </li>
           <li>To conduct research, to administer the Application/Services and products </li>
           <li>To undertake promotional activities and/or contest </li>
           <li>To send you relevant notifications through e-mails and SMS which add to the effectiveness of the
service </li>
           <li>To respond to any queries/doubts raised by you </li>
           <li>To protect against imminent harm to the rights, property or safety of the Application/Website/
Company or its Users or the public as required or permitted by law </li>
           <li>To send periodic emails for sharing information and updates pertaining to your order, occasional
company news, updates, related product or service information, etc. </li>
        </ul>
        <p> 
            We may disclose Information to:
        </p>

        <ul style="list-style-type:circle">
          <li>The employees or contractors or affiliated organizations on a need-to-know basis in order to
undertake process on the behalf of the Company or to facilitate smooth functioning of our Services,
such as providing network services, IT support, and customer service.</li>
          <li>Any parent company, investor, subsidiary or acquirer in the event of Corporate sale, merger,
reorganization, sale of assets, dissolution, or bankruptcy.</li>
          <li>Third party service providers in order to personalize the Application/Website/Services/products for
a better user experience and to perform behavioural analysis.</li>
          <li>Any legal, governmental or regulatory authority if it is required to comply with any legal order or
process, issued or commenced, in accordance with the applicable laws.</li>
</ul>
        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">THIRD PARTY PAYMENT SERVICES AND INFORMATION COLLECTION</h3><br>
        <p>
       We use a third party payment platform and payment aggregator services to bill you for products and
Services. We may use and share the User Information with reliable and reputed third-party payment
gateway to whom we are associated in order to ensure swift and comfortable payment mechanism
for the User The third party service providers shall provide the Company the phone number of the
User utilised while completing the payment transaction.</p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">SHARING OF DATA WITH THIRD PARTIES</h3><br>
        <p>
We will share your information with third parties only in the ways that are described in this Policy.
We may use the individual data and behaviour patterns combined with personal Information to
provide You with personalized content, and better your experience .
        </p>
        <p> 
        The Company may provide and utilise the Information and data collected to certain third parties as
the Company may deem fit, for undertaking data analysis via third party analytical tools. The third
party analytical tools are utilised in order to analyse the data and information to personalize, drive
insights and thereby provide a better performance, improve the quality of features and provide
seamless services to the User.</p>
      
      <p>
        The Company does not sell, trade or rent your Information to any third party unless, we have been
expressly authorized by You either in writing or electronically to do so.
      </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">AGGREGATE STATISTICS</h3><br>

        <p>
We may at times provide aggregate statistics about our Users and their pattern in addition to certain
related site information to certain third parties will be in an aggregate form and does not contain any
of your individual detailed personal Information.
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">EXTERNAL LINKS</h3><br>

        <p>
The Platform may include advertisements or external links to third party websites, applications,
content or resources which are not owned/controlled by the Company. We have no control over such
external links available in the Platform. You acknowledge and agree that the Company are not
responsible for any collection or disclosure of any details or information by any external websites or
applications or links.
        </p>
        <p>
You further acknowledge and agree that the Company is not liable for any loss or damage which may
be incurred by You as a result of the collection and / or disclosure of your information by external
applications, sites or resources, or as a result of any reliance placed by You on any advertising,
products or other materials on, or available from such third party applications, websites or resources.
We do not control or endorse any such third party links or websites. The external applications or
websites or links may have their distinct privacy policies governing their collection, storage,
retention and disclosure of information and data. We suggest that You should review the privacy
policy prior to accessing such third party external links.
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">UPDATION/DELETION OF YOUR INFORMATION</h3><br>
        <p>
Once you update/delete your personal Information through your account settings such as name and
e-mail address on the Website or the Application, this old/deleted information is not stored in any
form at our end. You have every right to cease to hold an account with us. However, the past activity
data associated with your account is intact in anonymous form with us and we may utilise it for
research and analysis purposes in order to improve the quality of our Services.
        </p>


        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">INFORMATION FOR CITIZENS OF THE EUROPEAN UNION</h3><br>

        <p>
          Our Policy is EU GDPR privacy regulations compliant. For more information regarding the complaint
Policy kindly visit <a style="color:#00004d;" href="{% url 'privacypolicygdpr' %}"><u> Privacy Policy GDPR</u> </a>
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">REVISION OF POLICY</h3><br>

        <p>
          We reserve the right to revise this Policy as and when needed and a notice of revision, in case of
material changes, will be provided on the website. However, it is your responsibility to stay updated
on any policy revisions and we will take your continued use of our services as the deemed acceptance
of the new policies. If you have any queries or issues about the Policy, you may contact us at
<a style="color:#00004d;" href="mailto: contact@deepeigen.com">contact@deepeigen.com</a></b>
        </p>

      </div>
    </div>	
    </div>
    

  </main>
  <!-- End #main -->
  <div class="container">
    <ol aria-label="breadcrumbs" class="breadcrumblist" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="menubar">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="{% url 'home'%}" itemprop="item">
          <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deep Eigen</font></font></h6>
        </a>
        <meta content="1" itemprop="position">
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Privacy Policy</font></font></h6>
        <meta content="2" itemprop="position">
      </li>
    </ol>
  </div>
{% endblock %}