{% extends 'base.html' %}

{% load static %}

{% block content %}
<main id="main">
  <div class="container">
    <div class="text-center mt-5 mb-5">
      <h1 style="color:#00004d;"><b>Sitemap</b></h1>	
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="row small-collapse medium-uncollapse">
      <div class="col-md-2"></div>
      <div class="col-md-8 p-5 bg-white rounded shadow mb-5">
        <h2 class="small-tit-bar lightborder">Courses</h2>
        <div class="list-hierarchy">
          <ul class="hanging-list small-side-margin sitemaptxt-margin">
            {% for course in courses_list %}
              <li><a href="{% url 'course_detail' course.id course.url_link_name%}">{{course.title}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <h2 class="small-tit-bar lightborder">About</h2>
        <div class="list-hierarchy">
          <ul class="hanging-list small-side-margin sitemaptxt-margin">
            <li><a href="{% url 'team' %}">Team</a></li>
            <li><a href="{% url 'faqs' %}">FAQ's</a></li>
            <li><a href="{% url 'terms' %}">Terms</a></li>
          </ul>
        </div>

        <h2 class="small-tit-bar lightborder">Careers</h2>
        <div class="list-hierarchy">
          <ul class="hanging-list small-side-margin sitemaptxt-margin">
            <li><a href="{% url 'careers' %}">Careers</a></li>
          </ul>
        </div>
        
        <h2 class="small-tit-bar lightborder">Contact</h2>
        <div class="list-hierarchy">
          <ul class="hanging-list small-side-margin sitemaptxt-margin">
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
        
      </div>

      <div class="col-md-2"></div>
    </div>
  </div>

</main>
<!-- End #main -->

  <div class="container">
    <ol aria-label="breadcrumbs" class="breadcrumblist" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="menubar">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="{% url 'home'%}" itemprop="item">
          <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deep Eigen</font></font></h6>
        </a>
        <meta content="1" itemprop="position">
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sitemap</font></font></h6>
        <meta content="2" itemprop="position">
      </li>
    </ol>
  </div>
{% endblock %}