{% extends 'base.html' %}

{% load static %}

{% block content %}
  <main id="main" style="font-family: 'Times New Roman',Times,serif; font-size: 20px;">
    <div class='text-center mt-4 mb-5'>
      <h2 style="color:#00004d;"><b>Deep Eigen User Terms and Conditions</b></h2>
    </div>
    <div class="container pb-5" data-aos="fade-up">
      <div class="jumbotron" id="jumbotron_termsandcondition">
        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Introduction</h3><br>
        <p>
          Deep Eigen Private Limited is a private limited company incorporated under the Companies Act,
          2013, having its registered office at 42 Abhinav Regal Homes, Awadhpuri, Bhopal- 462022
          <b>("Company"; "We"; "Our"; "Deep Eigen"). </b> 
          The Company owns, operates and manages the website
          <u><a style="color:#00004d;" href = "https://www.deepeigen.com">Deep Eigen </a></u>
          <b>("Website")</b> and the mobile application for mobiles, smart devices and any
          other compatible device <b>("Application")</b> under this brand <b>'Deep Eigen'</b> (collectively referred to as
          the <b>'Platform'</b>) whereby We, through the Platform, provide various Courses to the Users and all the
          features, functionalities and other allied services and products therein <b>("Services")</b>, subject to term
          and conditions indicated in this document and/or any part of the Platform.
        </p>

        <p>
            The Company provides the User access to this Platform, including all information, tools and services
            available from this Platform, the access to the Courses through the Platform, conditioned upon Your
            acceptance of all terms, conditions, policies and notices stated herein. The User's use of the Platform
            and related Services, including but not limited to viewing information, acting on such information
            and the transactions that may be implemented through the Platform, is governed by and shall be
            subject to these terms and conditions (hereinafter referred as<b> "Terms of Service" </b>or <b>"Terms"</b>), the
            terms whereof are subject to change at any time, without prior notice to You. Any new features or
            tools which may be added to the Platform by the Company shall also be part of the Terms of Service.
            To ensure that You are aware of the changes, please review the Terms of Service and all the
            documents referred to hereunder periodically.
        </p>
        <p>
          If you continue to browse through this Platform, You are agreeing to be bound by the Terms which
          along with the Privacy Policy, as displayed on the Platform, govern your relationship with us. You
          confirm that You have also read and have agreed and accepted to be bound by the terms and
          conditions incorporated in the terms of the Privacy Policy, which shall be deemed to be a part of
          these Terms of Service.
        </p>

        <p>
          In the event You are representing an incorporated entity, You hereby confirm that You have been
          expressly authorised by such entity to consent the Terms of Service, and such entity agrees to be
          bound by the terms hereunder.
        </p>

        <p>The Terms of Service sets forth the legally binding terms of Your use of the Platform and related
Services. By proceeding further, You confirm that You have read, agreed and accepted to be bound by
the terms and conditions mentioned herein. Kindly read the Terms of Service carefully before
accessing or using the Platform and/or the Services. </p>

      <p>These Terms of Service apply to all Users of the Platform, including without limitation users who are
browsers, vendors, and/ or contributors of data, content, information, pictorial representations
and/or images. </p>

      <p>
        The Platform and Services can be accessed and used by those individuals or business entities,
including sole proprietorship firms, companies and partnerships, which can form legally binding
contracts under the applicable law. Only individuals who are eighteen (18) years of age or older may
use the Platform and avail Services. The Company reserves the right to terminate the User Account
and / or deny access to the Platform if it is brought to the Company's notice or if is discovered that
the User does not meet the conditions herein.
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Definition</h3><br>

        <p>
          In addition to other words and expressions that may be defined elsewhere in these Terms, unless the
context otherwise requires, the following capitalized terms wherever used in these Terms shall have
the meanings as ascribed hereunder:
        </p>

        <p>
          <b>"Attendee,"</b> shall refer to the User who has created a user account and intends to audit the Courses,
i.e., attend or view lectures online without accessing final projects or assessments required for
certification, or completing the homework assignments, exams or other course work related to
assessments for certification.
        </p>

        <p>
         <b> "Courses"</b> means courses listed on the Website or Application including but not limited to various
courses related to robotics, artificial intelligence which shall include the Educational Content.
        </p>

        <p>
          <b>"Client"</b> means any User who avails/has availed the Courses offered on the Platform subject to the
terms and conditions stipulated in these Terms, and any additional conditions, undertakings and
disclaimers indicated in this document and/or any part of the Platform, including but not limited to
Students and Attendees.
        </p>

        <p>
          <b>"Educational Content"</b> shall refer to the content uploaded on the Platform which includes the
educational materials made available to the User through the Courses, including such online lectures,
speeches, video lessons, quizzes, presentation materials, homework assignments, programming
assignments, code samples, and other educational materials and tools.
        </p>

        <p>
          <b>"Mentor"</b> shall refer to an individual who has executed a mentor services agreement with Deep Eigen
to provide mentoring and project review services to Students.
        </p>

        <p>
         <b> "Payment Method"</b> means a payment method that You have added to Your User Account, such as a
credit card, debit card or net banking and is being used for undertaking the payment for the Services.
        </p>

        <p>
          <b>"Profile"</b> shall refer to the profile created by the Client on the Platform.
        </p>

        <p>
         <b> "Student,"</b> shall refer to the User who has created an user account and has registered and enrolled in
and paid for access to the Courses and Services and/or certification provided by Educational
Partners and further intends to complete the applicable program, including the homework
assignments and exams, and other requirements related to those individual programs.
        </p>

        <p>
          <b>"Users" "You"</b> or <b>"Your"</b> means any natural or legal persons/entity(ies) (including the Clients), as the
case may be, who have access to and uses the Platform for the purpose of providing and/or availing
the Services offered by the Company, in accordance with these Terms. The term <b>"Users" "You"</b> or
<b>"Your"</b> shall mean and include any other persons/entity who access the Platform without such a User
Account.
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Terms of Use</h3><br>

        <p>
          The Company will provide Services to You subject to continuous compliance with the terms and
conditions stipulated in this document. The Services are extended through the Platform that enables:
the You to avail the Courses provided by the Company on the Platform.
        </p>
        
        <p>
          By using the Platform or Services, you agree to comply with and be legally bound by the Terms of
Service. These Terms govern your access to and use of the Platform and Services and constitute a
binding legal agreement between you and Deep Eigen.
        </p>

        <p>
          If you do not agree to these Terms, kindly do not access or use the Website, Application or Services.
The User can access the Services and view and access the Courses directly via the Platform.
        </p>

        <p>
          You acknowledge and agree that, by accessing or using the Platform or Services or by accessing or
downloading any Course or content therein from the Platform, you are indicating that you have read,
and that you understand and agree to be bound by these Terms and receive our Services.
        </p>

        <p>
          In the process of developing the Platform, the Company has made every effort to offer correct and
clearly expressed information possible. Nevertheless, inadvertent errors may occur including but not
limited to the factors mentioned herein. The Company does not have any responsibility for any errors
and accuracy of the information available on the Platform. The User may give us feedback pertaining
to any error or issue in the contents on the Platform and/or Services by contacting the customer
service.
        </p>

        <p>
          We reserve the right at any time to modify, suspend or discontinue the Service and/ or Course and/
or eliminate any aspect or features of the Platform or the Services or any Course (or any part or
content thereof) as it deems fit, without notice at any time and shall not be held liable to any third
party for such change or modification or discontinuation as specified hereinabove. The Company
makes no commitment, express or implied, to maintain or continue any aspect of the Platform /
Services. All prices are subject to change, as the Company may deem fit at any time. The Company will
notify you about any change in the Terms of Service or the fees or the Services or features of
Platforms, via any medium including notice on the Platform.
        </p>
        <p>
        You acknowledge that such information and materials may contain inaccuracies or errors and we
expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
This Platform and the Services are provided on an "AS IS" basis with all faults and without any
warranty of any kind.
        </p>

        <p>
          The Company may, based on any form of access to the Platform or Services or registrations, including
free trials, through any source whatsoever, contact the User through SMS, e-mail and/or call, to give
information about its products as well as notifications on various important updates and/or to seek
permission for demonstration of its products and/or for marketing purposes. The User expressly
grants such permission to contact him/her through telephone, SMS, e-mail. After the registration via
the Platform, you acknowledge and agree that the employees of the Company or any person
authorised by the Company in this regard, may contact you for the above mentioned purposes and
promotional purposes through telephone, SMS, email etc. The Company shall have the right to
monitor the download and usage of the Platform/ Services and the contents thereof by the User, as
specified in the privacy policy of the Company in order to enable effective and efficient usage of the
Services and access to improvised and customised Courses.
        </p>
        <p>
Deep Eigen has taken the best efforts to train the personnel engaged in the sales and customer
service departments, however it makes no warranties or representations whatsoever regarding the
quality and competence of such personnel. Deep Eigen would not be responsible in any manner for
any deviant behaviour of any such personnel. The User may give us a feedback about the services
provided by such personnel and Company reserves the right and discretion to take any action in this
regard.
      </p>

      <p>
        The Platform, Services and the Courses or any content, are compatible only with certain
devices/tablets/instruments/hardware The Company shall not be obligated to provide workable
products and / or services for any instruments that are not recognized by the Company or which are
not compatible with the Company's products and Services. The Company reserves the right to
upgrade the table/ type of compatible devices as it may deem fit from time to time.
      </p>

      <p>
        The Company shall have no responsibility for any loss or damage caused to device or any other
hardware and / or software and/or instrument, including loss of data or effect on the processing
speed, resulting from your use of our Services.
      </p>

      <p>
        <b>Specialization and Partnership Courses:</b> Deep Eigen offers certain Courses that are curated,
specially designed, and produced which are referred to as "Specialization" programs. Deep Eigen may
also offer Courses in partnership with accredited universities and other educational institutions,
corporate sponsors and non-profit foundations and institutions (each an <b>"Educational Partner"</b>)
whereby academic credit or certification may be offered solely by that Educational Partner. Deep
Eigen may also partner with companies who may sponsor or pay for Courses for Users or those
companies' employees/associated persons, who such third party may deem fit.
      </p>

      <p>
        <b>Certificates:</b> A verified certificate of accomplishment upon conclusion of the Course by the Client
shall be awarded, in the sole discretion of the Company and the instructors for the Courses, to Clients
who have completed the course to the satisfaction of the Company including without limitation being
in compliance with all Deep Eigen policies associated with the Course.
      </p>

      <p>
        <b>Academic Credit:</b> The completion of any Course does not confer any academic credit. There shall be
no presumption that any institute, within or outside India, will accept that credit. The Company shall
have no obligation to offer Courses recognized by any educational institution or accreditation
organization, within or outside India. In the event any Educational Partner specifies under a Course
that it offers any academic credit, the Company shall not be held liable for any non-compliance by the
Educational Partner.
      </p>

      <p>
        <b>Sponsored or Discount on Courses:</b> The Company may at its sole discretion, extend certain
discounts on the total fee payable for a particular Course for any Client or may sponsor any Course
for any Client, as it may deem fit. However, it is hereby clarified that there is no mandatory obligation
on the Company to provide any such discount or sponsor any Course. Any price or offer extended for
a particular Course may also be different since the Company may not extend the offers or special
prices to all the Clients.
      </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Registration</h3><br>

      <p>
        In order to avail the Services and access the Courses and to avail the use of the Platform, the User
shall be required to register himself/herself with the Website/ Application, and maintain an account
with the Application/Website. The User will be required to furnish certain information and details,
including his/her name, mobile number, e-mail address, residential address, and any other
information deemed necessary by the Platform.
      </p>

      <p>
        After registration via the Platform, the User can access the Platform, Services and opt for any of the
Courses mentioned on the Platform.
      </p>

      <p>
        Each of the Courses or Services or products will be charged separately and the User shall pay for the
Course or Service or product he/she wishes to undertake.
      </p>
      <p>
        The User can access certain Courses on the Website and/ or Application via subscription services, if
introduced by the Company in the future In the event, the User opts for subscription services, the
User shall pay for availing the services under the subscription plan either on a monthly or an annual
basis, depending on the service plan availed by the User.
      </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Billing and Refunds</h3><br>

      <p>
        Deep Eigen offers various Courses and products on its Platform subject to the specified fees and
charges. The User can access the Courses available on the Platform only after payment of the fee/
charge as may be specified for the Course.
      </p>
      <p>
        The User opting for any subscription services, if introduced by the Company in the future, agrees to
undertake the payment on the monthly and/or annual basis as the case may be. In the event of failure
on part of the Client to pay the specified fees and charges under the subscription plan, the access of
the Client to the Courses and Services under the subscription plan shall be discontinued with
immediate effect.
      </p>
      <p>
        The fees payable for any Course will be displayed to the User prior to the enrolment for the said
Course.
      </p>
      <p>
        Deep Eigen shall collect the payment of fees for the said Courses selected by the User via a third party
payment service provider platform. Deep Eigen will raise a system generated invoice and send it to
You specifying the details of the said course and the amount paid by You. The same shall be inclusive
of all applicable taxes.
      </p>
      <p>
        Once the transaction is confirmed and completed, You will receive a confirmation email summarizing
the details thereunder.
      </p>
      <p>
        You agree to pay any fee that may be associated with any Services/ Courses on the Platform, prior to
availing any access to the same.
      </p>

      <p>
        If You wish to cancel a confirmed enrolment to any Course or Services, made via the Platform after
enrolment, the refund will be made on the sole discretion of the Company. Further, no refund will be
made in respect of Courses or Services already availed or provided. The Company may, at its sole
discretion, adjust the fees paid in any next session (in case of live sessions) or any other Course or
Services, in any manner as it may deem fit. In case of certain products or Courses or Services, the
ability of the Company to refund shall also depend on the refund and cancellation policy of the
particular specific Course or Services. The Company will initiate any refunds due pursuant to the
terms mentioned herein.
      </p>

      <p>
        The Company does not collect any information related to the Payment Method or related details of
the Users and shall not be liable for any breach or actions related to the payment methods by the
third party payment platform provider. The User shall read the privacy policy of the third party
payment platform provider prior to submitting any details related to the same.
      </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Mentor Terms</h3><br>

        <p>
          The Mentor hereunder represent, warrant and covenant as under:
          <ol type=i>
<li> You shall, at all times, have the requisite and necessary experience to provide mentoring and
project review services to Students, diligently and efficiently through the Platform subject to the
Terms of Service; </li> 
<li> You are not a party to any other agreement that would in any way conflict with, or restrict Your
ability to perform the duties hereunder; </li>
<li> You shall, at all times, adhere to the applicable professional standards and use reasonable care
and Your best efforts to perform the duties; </li></ol>
        </p>

        <p>
          There are certain specific conditions/disclaimers specified under the mentor service agreement
executed between You and the Company. The Mentor shall abide by the terms specified hereunder
and the terms specified under the said agreement.
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Educational Partner Courses</h3><br>
        <p>
        Deep Eigen may make certain Courses available to Clients in partnership with, or on behalf of, its
Educational Partners, your access to such Courses may be provided to you through your User
Account. You acknowledge and agree that any Course affiliated with an Educational Partner may be
subject to terms, policies, and procedures of the applicable Educational Partner in addition to Deep
Eigen's policies specified on the Platform. Without limiting the foregoing, if you are a Client registered
or enrolled at, or are otherwise attending, and are taking an Course for credit or certification through
that Educational Partner, you acknowledge and agree that (a) the Educational Partner may have its
own terms, policies, or procedures regarding your eligibility to participate in the Course, your
continued participation in the Course, the requirements or prerequisites for receiving credit or
certification for the Course, and/or your educational or student records as they may relate to your
participation and performance in the Course, and (b) your educational or student records are
maintained by the Educational Partner, including for purposes of assigning credit or certification, and
Deep Eigen has no responsibility in this regard.</p>

      <p>
        Any such credit or certification you receive for participation in Courses provided by an Educational
Partner, shall be awarded directly by the respective Educational Partner based on its own policies and
procedures, and you may be required by the Educational Partner to be registered or enrolled with the
Educational Partner in order to receive such credit or certification or fulfil such other conditions as
may be specified by the Educational Partner. The Company shall not have any authority or
responsibility with respect to any award of academic credit or certification provided by an
Educational Partner for any Course.
      </p>

      <p>
        If you are not accessing, using, or taking a Course on the Platform provided by an Educational Partner,
then, subject to your satisfactory performance determined in the sole discretion of Deep Eigen, you
may be awarded a verified certificate of accomplishment upon conclusion of the applicable Course,
and you acknowledge that any such verified certificate awarded may not be affiliated with any
college, university, company, or other certifying institution, and may not stand in the place of a course
taken with an Educational Partner or convey academic credit or certification for any Educational
Partner as specified above. You acknowledge and agree that instructors of any Educational Partner
provided Course will not be obligated to make any attempts to get the course recognized by any
accredited or other educational institution and you will abide by the policies specified on the
Platform.
      </p>
        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Conduct of the User</h3><br>
        <p>
          You understand and agree that You are solely responsible for compliance with any and all applicable
laws, rules, regulations that may apply to Your use of the Platform and Services. With respect to the
Terms, the following may be noted:-

      <ol type=i>
        <li> It is the sole responsibility of the User to ensure that the User Account information provided by
the User is accurate, complete and latest.</li>
        <li>You shall be responsible for maintaining the confidentiality of the User Account information and
for all activities that occur under the User Account. You shall immediately notify the Company of
any unauthorized use of Your User Account. If there is reason to believe that there is likely to be a
breach of security or misuse of Your User Account, we may request You to change the password
or we may suspend Your User Account or take any other action deemed necessary, without any
liability on the Company, for such period of time as the Company deem appropriate in the
circumstances. The Company shall not be liable for any loss or damage arising from Your failure
to comply with this provision. </li>
        <li> You acknowledge and agree that the accessibility to the Platform is dependent on multiple
external factors such as internet service providers, location, bandwidth and the Company does
not guarantee accessibility to the Platform at all times. In addition to the disclaimers and
conditions set forth in the Terms of Service, the Company shall not be liable to the User for any
damages arising from Your inability to log into Your User Account and access the Services
provided via the Website/ Application at any time.</li>
        <li>The Services and Courses viewed and accessed through the Website or the Application are for
Your personal and non-commercial use only and any other usage of the Application, Website or
Services or Courses is prohibited. Your personal and non-commercial use of the Website,
Application and / or Services shall be subjected to the following restrictions:
        <br><br>
        <ol>
          <li> You may not decompile, reverse engineer, or disassemble the contents of the Application
and / or Website and/or Services or modify, copy, distribute, transmit, display, perform,
reproduce, publish, license, create derivative works from, transfer, or sell any information or
software obtained from the Application and / or Website and/or Services, or remove any
copyright, trademark registration, or other proprietary notices from the contents of the
Application and / or Website and/or Services.</li><br>
          <li>
            You will not (a) use this Application and / or our Website and/or any of our Service/s for
commercial purposes of any kind, or (b) use the Application and / or Website/ and Services
in any way that is unlawful, or harms the Company or any other person or entity as
determined by the Company.

            </li><br>
            <li>
            No User shall be permitted to perform any of the following prohibited activities while
availing our Services:
                <br><br>
                <ol type=i>
                  <li>
                  Interfering with any other person's use or enjoyment of the
Application/Website/Services;
                  </li>
                  <li>
                    Making, transmitting or storing electronic copies of materials protected by copyright
without the permission of the owner, committing any act that amounts to the
User Terms & Conditions - Draft for discussions only
ANB Legal
infringement of intellectual property or making available any material that infringes any
intellectual property rights or other proprietary rights of anyone else;
                  </li>
                  <li>
                    Impersonate any person or entity, or falsely state the details;
                  </li>
                  <li>
                    Access or use the Application/Website in any manner that could damage, disable,
overburden or impair any of the Application's/Website's servers or the networks
connected to any of the servers on which the Application/Website is hosted;
                  </li>
                  <li>
                    Intentionally or unintentionally interfere with or disrupt the services or violate any
applicable laws related to the access to or use of the Application/Website/Services,
violate any requirements, procedures, policies or regulations of networks connected to
the Application/Website/Services, or engage in any activity prohibited by these Terms;
                  </li>

                  <li>Disrupt or interfere with the security of, or otherwise cause harm to, the
Application/Website, materials, systems resources, or gain unauthorized access to User
Accounts, passwords, servers or networks connected to or accessible through the
Application/Website/Services or any affiliated or linked sites;</li>
                  <li>
                    Interfere with, or inhibit any user from using and enjoying access to the
Application/Website/ Services, or other affiliated sites, or engage in disruptive attacks
such as denial of service attack on the Application/Website/Services;
                  </li>
                  <li>
                    Use deep-links, page-scrape, robot, spider or other automatic device, program,
algorithm or methodology, or any similar or equivalent manual process, to increase
traffic to the Application/Website/Services, to access, acquire, copy or monitor any
portion of the Application /Website/Services, or in any way reproduce or circumvent
the navigational structure or presentation of the Website/Application, or any content, to
obtain or attempt to obtain any content, documents or information through any means
not specifically made available through the Application/ Website/Services;
                  </li>
                  <li>
                    Alter or modify any details of the Services via wrongful means;
                  </li>
                  <li>
                    Any fraudulent use of the Platform or applicable payment method to avail the Services,
which causes any monetary loss to the Company as a result of Your action/inaction shall
be recovered from You. Without prejudice to the above, the Company reserves the right
to initiate legal proceedings against You for the fraudulent use of this Platform or for any
other unlawful act or omission in breach of this Buyer's Agreement
                  </li>
                  <li>
                    Use the Services for purposes that are not permitted by: (i) these Terms; and (ii) any
applicable law, regulation or generally accepted practices or guidelines in the relevant
jurisdiction; or
                  </li>
                  <li>
                    Violate any of the terms specified under the Terms for the use of the Application
/Website/Services.
                  </li>

                  </ol><br>
            </li><br>
          </ol>
 </li>
        </ol>
        </p>

        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Forum, Blog, and Chat Room Services</h3><br>

        <p>
          You may be able to post messages to, and interact with other Users, Deep Eigen employees or
representatives, or Deep Eigen service providers through, User forums, chat rooms, or blogs available
on the Platform, in connection with your availment of the Services (each a "Forum"). Your use of
these Forums is subject to and governed by this Terms of Use and such other policies specified on the
Platform. By using any of the communications methods available on the Platform and through the
Courses, you acknowledge and agree that (a) all communications methods constitute public, and not
private, means of communication between you and the other party or parties, (b) communications
sent to or received from third party service providers or other third parties are not endorsed,
sponsored or approved by Deep Eigen in any manner (unless expressly stated otherwise by Deep
Eigen) and (c) communications are not pre-reviewed, post- reviewed, screened, archived or
otherwise monitored by Deep Eigen in any manner, though Deep Eigen reserves the right to do so at
any time at its sole discretion in accordance with this Terms of Use. You acknowledge and agree that
any services Deep Eigen provides to you via such Forums may be monitored or recorded for quality
control purposes and that the information or material provided as part of the services is considered
"Content" under this Terms of Use and is provided for educational purposes only.
        </p>

              <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Social Sharing and Deepeigen Profiles</h3><br>

        <p>
          To the extent you utilize any features of our Service that allow for public and/or social sharing of
Forum content, User Content, or any data provided by you on the Platform, you understand that such
information may be made available to third parties in the manner as specified in the Privacy Policy.
        </p>
        <p>
          While we attempt to limit access to such content to legitimate Users, and ask that potential employers
keep your information confidential, we cannot guarantee that other third parties will not gain access
to this database. Additionally, we cannot guarantee control of the use made of socially shared
information on your Profile by third parties who access information you've shared your Profile. Once
socially shared information, including, but not limited to, your Profile, has been disclosed, we are not
able to retrieve it from the third parties who accessed it or ensure the destruction of it by those third
parties. You should not put sensitive information or other information you would not want made
public, in your Profile or otherwise share that information socially. If you do include such information
in your Profile or otherwise publicly share your information, then you agree that it is at your own risk
and recognize that we cannot control third parties' access to such information.
        </p>

        <p>
          You should not socially share or otherwise provide any of the following information or data in your
Profile: (i) racial or ethnic origin, (ii) political beliefs (iii) philosophical or religious beliefs (iv)
membership of a trade union or political party (v) physical or mental health or biometric or genetic
details (vi) addictions, sexual activities (vii) criminal offences or proceedings (viii) information
relating to unlawful or objectionable conduct, or (ix) any National identification number.
        </p>

        <p>
          You also should be aware that your Profile or other information you share socially may be visible
and/or monitored by your current employer if they have access to the Platform.
        </p>

                <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">User Content</h3><br>
        <p>
          Deep Eigen may provide Users with the ability to upload forum posts, chat with other Users,
undertake and participate in User discussions as well as post content, discussions, materials, media,
and other information through profile pages and throughout the Services for social interaction or for
use with the Platform or Courses, including but not limited to questions, hypotheticals, examples, etc.
(collectively, "User Content").
        </p>

        <p>
Deep Eigen or its affiliates shall not be responsible, in any manner whatsoever, for the User Content
and does not guarantee that any such User Content is accurate, truthful, up to date, reliable, or
appropriate and disclaims any and all liability to you to the fullest extent of the law related to such
User Content. You understand and agree that your reliance and/or reference to such User Content is
solely at your own risk.
        </p>

        <p>
          Deep Eigen does not claim ownership of any User Content that the Users may submit or post or
upload on the Platform through the available modes. You will be the sole and exclusive owner of any
and all rights, title and interest in and to the User Content that you submit, post, or share on the
Platform.
        </p>

        <p>
          From time to time, Deep Eigen (or its third-party service providers on behalf of Deep Eigen) may
request Users to make subtitles or captions for, or translations of, content uploaded on the Platform
such as lecture videos and other Educational Content, and submit such subtitles, captions, or
translations to Deep Eigen through a Deep Eigen website/portal or the website/portal of Deep
Eigen's service provider. In the event that Deep Eigen (or its service providers) makes such a request
to you, Deep Eigen will grant to you a freely revocable, worldwide, non- exclusive, non-transferable,
non-sublicensable limited right and license to make such subtitles, captions or translations provided
that you agree to submit such subtitles, captions or translations to Deep Eigen (or its applicable
service provider), and such subtitles, captions and translations shall be considered User Content and
subject to the license, representations, and warranties below (even if you fail to submit the subtitles,
captions or translations to Deep Eigen); and further provided that, you acknowledge and agree that
by creating or submitting any such subtitles, captions or translations, you shall not obtain any rights
or license in or to Deep Eigen's and its affiliate's intellectual property, including but not limited to the
Educational Content, related materials, or any underlying content.
        </p>

        <p>
          For clarity, the foregoing license to make subtitles, captions or translations, if given, shall in no way
expand or otherwise affect, expressly or impliedly, the terms of the CC License or any other license
granted to the User, and any such license given hereunder is restricted as specified in sub-clause (d)
above. In the event that you use any tools or other services of Deep Eigen's service provider(s) in
order to make subtitles, captions or translations, you agree to comply with any terms and conditions
imposed by such service provider in conjunction with such use (e.g., those terms found at
http://www.universalsubtitles.org/en/terms). With respect to any User Content you submit to Deep
Eigen (including for inclusion on the Platform or Online Courses) or that is otherwise made available
to Deep Eigen, you hereby grant Deep Eigen an irrevocable, worldwide, perpetual, royalty-free and
non-exclusive license to use, distribute, reproduce, modify, adapt, publicly perform and publicly
display such User Content on the Platform or in the Online Courses or otherwise exploit the User
Content, with the right to sublicense such rights (to multiple tiers), for any purpose (including for any
commercial purpose); except that, with regard to User Content comprised of a subtitle, caption or
translation of Content, you agree that the license granted to Deep Eigen above shall be exclusive. Deep
Eigen reserves the right to remove any User Content at any time and for any reason.
        </p>

        <p>
          To the extent that you provide any User Content through any of the Services, you represent and
warrant that (a) you have all necessary rights, licenses and/or clearances to provide such User
Content and permit Deep Eigen to use such User Content as provided above, (b) your User Content is
accurate and reasonably complete, (c) as between you and Deep Eigen, you shall be responsible for
the payment of any third-party fees related to the provision and use of such User Content, (d) such
User Content does not violate and will not infringe or misappropriate any third party rights or
constitute a fraudulent statement or misrepresentation or unfair business practices and (e) your User
Content shall comply with all applicable local rules including but not limited to rules regarding online
conduct and acceptable content, including, but not limiting to, laws regarding the transmission of
technical data exported from India or the country in which you reside. With respect to any
submissions of User Content, you agree to comply with all applicable local rules including but not
limited to rules regarding online conduct and acceptable content. Specifically, you agree to comply
with all applicable laws regarding the transmission of technical data exported from India or the
country in which you reside.
        </p>

                <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Proprietary Information and Intellectual Property Rights</h3><br>

        <p>
          Except as expressly stated in the Terms of Service, all information, content, material, trademarks,
services marks, trade names, and trade secrets including but not limited to the software, text, images,
graphics, video, script and audio, contained in the Platform and/or Services are proprietary property
of Deep Eigen <b>("Proprietary Information")</b>. No Proprietary Information may be copied,
downloaded, reproduced, modified, republished, uploaded, posted, transmitted or distributed in any
way without obtaining prior written permission of Deep Eigen and nothing on the Platform and/or
Services shall be deemed to confer a license of or any other right, interest or title to or in any of the
intellectual property rights belonging to the Company, to the User. The Company shall at all times
retain full and complete title to the information, content or materials and all intellectual property
rights inserted by the Company on such medium. The Platform and Services are protected by the
copyright, trademark, patent and other applicable laws of India.
        </p>

        <p>
          Deep Eigen grants You a limited, non-exclusive, non-transferable right/ license to access the Services
and the Courses. Except the right specifically mentioned herein, no right, title or interest shall be
transferred to the User.
        </p>

        <p>
          Deep Eigen hereby grants you a license in and to the Educational Content subject to, as modified
herein, the terms and conditions of the Creative Commons Attribution-Non-commercial- NoDerivs 3.0
License located at <a style="color:#00004d;" href="http://creativecommons.org/licenses/by-nc-nd/4.0"> License</a> and successor locations for
such license (the <b>"CC License"</b>) provided that, in each case, the Educational Content is specifically
marked as being subject to the CC License. Without limiting the generality of the terms of the CC
License, the following are types of uses that Deep Eigen expressly defines as falling outside of the
definition of "non-commercial": (a) the sale or rental of (i) any part of the Educational Content, (ii)
any derivative works based at least in part on the Educational Content, or (iii) any collective work
that includes any part of the Educational Content; (b) the sale of access or a link to any part of the
Educational Content without first obtaining informed consent from the buyer that the buyer is aware
that the Educational Content, or such part thereof, is available at the Website free of charge; (c)
providing training, support, or editorial services that use or (reference the Educational Content in
exchange for a fee; (d) the sale of advertisements, sponsorships, or promotions placed on the
Educational Content, or any part thereof, or the sale of advertisements, sponsorships, or promotions
on any website or blog containing any part of the Educational Content, including without limitation
any "pop-up advertisements"; (e) the use of Educational Content by a college, university, school, or
other educational institution for instruction where tuition is charged; and (f) the use of Educational
Content by a for-profit corporation or non-profit entity for internal professional development or
training.
        </p>

        <p>
          You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary
rights in or associated with the Platform and/or Services. All trademarks, service marks, logos, trade
names, and any other proprietary designations of Deep Eigen used on or in connection with the
Platform, Services, and Courses are trademarks of Deep Eigen in India and abroad and are subject to
the exclusive ownership of Deep Eigen.
        </p>

        <p>
          Certain contents on the Platform may belong to third parties. Such contents have been reproduced
after taking prior consent from said party and all rights relating to such content will remain with such
third party. Further, You agree and acknowledge that the ownership of all trademarks, copyright,
logos, service marks and other intellectual property owned by any third party shall continue to vest
with such party. You are not permitted to use the same without the consent of the respective third
party.
        </p>

                <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Breach and Violation of the Terms</h3><br>

        <p>
          In the event of any breach of these Terms by the User, the User agrees that the Company will be
irreparably harmed and may not have an adequate remedy in money or damages. The Company will
be entitled to injunctive relief in addition to all applicable legal remedies.
        </p>
        <p>
          Any violation of the Terms of Service or any other policy of the Company by the User may result in
immediate suspension or termination of the User Account apart from any legal remedy that the
Company can avail as per the applicable law. The violation of these Terms could also result in civil or
criminal liability under applicable laws.
        </p>
                <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Indemnity and Liability</h3><br>  

        <p>
          The User agrees to defend, indemnify and hold harmless the Company, its officers, directors,
employees and agents, from and against any and all claims, damages, obligations, losses, liabilities,
costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) use of and
access of the Application/Website/Services by the User; (ii) violation by the User of any term of these
Terms or any other policy of the Company; (iii) Violation by the User of any third party right,
including without limitation, any copyright, property, or privacy right; or (iv) any claim that the
User's use of the Application/Website/Services has caused damage to a third party. This obligation
will survive the Terms of Service.
        </p>
        <p>
          In addition to the terms expressly provided, in no event shall the Company, its officers, directors,
employees, partners or agents be liable to the User or any third party for any special, incidental,
indirect, consequential or punitive damages whatsoever, including those resulting from loss of use,
data or profits or any other claim arising out, of or in connection with, the User's use of, or access to,
the Application/ Website/ use of the Services.
        </p>

        <p>
          Notwithstanding any other terms of the Terms of Service, the liability of the Company towards any
use of the Services and/or access of the Platform or pursuant to the Terms of Service or on account of
any other reason, shall at all times be limited to the amount of consideration or fees received by Us
from such User for the Service.
        </p>

                <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Disclaimer</h3><br>
        <p>
          Notwithstanding anything to the contrary, the Company will not be deemed to be responsible or in
default for any delays or failure or issues in the performance resulting from acts beyond the control of
the Company, including but not limited to acts of God, weather (floods, tempest, tsunami etc), power
failure, governmental actions, war or national emergency (whether declared or not), acts of
terrorism, protests, riot, lockdowns, civil commotion, fire, explosion, flood, and/or
pandemics/epidemics.
        </p>

                        <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Third Party Links</h3><br>
        <p>
          You hereby acknowledge, agree and confirm that certain content, products and services available
through the Services offered on the Platform may include materials from third-parties.

        </p>
        <p>
          Any third-party links on the Platform may direct You to third-party platforms that are not affiliated
with Us. We are not responsible for examining or evaluating the content or accuracy and We do not
warrant and will not have any liability or responsibility for any such third-party materials or
platforms, or for any other materials, products, or services of third-parties.
        </p>
        <p>
          We are not liable for any harm or damages related to the purchase or use of goods, services,
resources, content, or any other transactions made in connection with any third-party platforms.
Please review carefully the third-party's policies and practices and make sure You understand them
before You engage in any transaction. Any complaints, claims, concerns, or questions regarding
third-party products should be directed to the third-party.
        </p>

                <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Miscellaneous Provisions</h3><br>
        <h4 style="color:#00004d;" class="text-center">Change/Modification</h4><br>

        <p>
          The Company has the right to change modify, suspend, or discontinue and/or eliminate any aspect(s),
features or functionality of the Application/ Website or the Services as it deems fit at any time. The
Company has the right to amend these Terms from time to time as it deems fit. The Company makes
no commitment, express or implied, to maintain or continue any aspect of the Application/ Website/
Services. All prices are subject to change, as the Company may deem fit at any time. The Company will
notify You about any change in the Terms of Service or the fees via any medium including notice on
the Website/ Application.
        </p>

                <h4 style="color:#00004d;" class="text-center">Governing Law and Jurisdiction</h4><br>
                <p>
                  This Terms of Service shall be governed and construed in accordance with the laws of India
without reference to any choice or conflict of laws provisions. Subject to clause 17(b)(ii) below,
the courts of Bhopal shall have exclusive jurisdiction in case of any matter arising out of or in
connection with this Agreement.
                </p>
                <p>
                  The disputes arising out of or in connection with the Terms of Service and/or any other
conditions/disclaimers forming part of the Platform shall be referred to arbitration to be
conducted by sole arbitrator appointed by the Company and shall be settled in accordance with
the Arbitration and Conciliation Act, 1996, as may be amended from time to time. The decision of
the sole arbitrator shall be final and binding on the Parties. The venue and seat of arbitration
shall be Bhopal and language shall be English.
                </p>
                <h4 style="color:#00004d;" class="text-center">Entire Agreement</h4><br>
                <p>
                  The Terms, along with the Privacy Policy, and any other guidelines made applicable to the
Application/ Website/ Services from time to time, constitute the entire agreement between the
Company and the User with respect to the access to or use of the Application, Website and the
Services thereof.
                </p>
                <h4 style="color:#00004d;" class="text-center">Assignment</h4><br>
                <p>
                  The User cannot assign or otherwise transfer their registration, rights or obligations under the
Terms, or any right granted hereunder to any third party. The Company's rights or obligations under
the Terms of Service are freely transferable by the Company to any third parties without prior
written consent of the User.
                </p>
                <h4 style="color:#00004d;" class="text-center">Severability</h4><br>
                <p>
                  If, for any reason, a court of competent jurisdiction finds any provision of the Terms, or portion
thereof, to be unenforceable, that provision shall be enforced to the maximum extent permissible so
as to give effect to the intent of the parties as reflected by that provision, and the remainder of the
Terms shall continue in full force and effect.
                </p>
                <h4 style="color:#00004d;" class="text-center">Waiver</h4><br>
                <p>
                  Any failure by the Company to enforce or exercise any provision of the Terms, or any related right,
shall not constitute a waiver by the Company of that provision or right.
                </p>

                    <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Feedback</h3><br>
        <p>
          Any feedback provided by the User with respect to the Platform and Services shall be deemed to be
non-confidential and may be used on an unrestricted basis to improve the quality of Services offered
by the Company. Further, the User represent and warrant that (i) the feedback does not contain
confidential or proprietary information of the User or of third parties; (ii) the Company is not under
any obligation of confidentiality, express or implied, with respect to the feedback; and (iii) the User is
not entitled to any compensation or reimbursement of any kind from the Company for the feedback
under any circumstances.
        </p>
                <br>
        <br>
        <h3 style="color:#00004d;" class="text-center">Customer Service</h3><br>
        <p>
        We attempt to make all best endeavours to provide our Users with a content, satisfying and enjoyable
experience. In the unlikely event that You face any issues or wish to give any feedback, please contact
us at <b><a style="color:#00004d;" href="mailto: contact@deepeigen.com">contact@deepeigen.com</a></b>
        </p>

        <p>
        You acknowledge and agree to the Terms and understand that they shall apply to Your use of the
Website/Application and Services. The Company has given You a reasonable opportunity to review
these Terms and after reviewing and understanding the Terms, You have agreed to the same.
        </p>
        <br>
        <p><b>
          THIS DOCUMENT IS AN ELECTRONIC RECORD IN TERMS OF THE INFORMATION TECHNOLOGY ACT,
2000 AND RULES MADE THEREUNDER. THIS ELECTRONIC RECORD IS GENERATED BY A
COMPUTER SYSTEM AND DOES NOT REQUIRE ANY PHYSICAL OR DIGITAL SIGNATURES. PLEASE
CAREFULLY READ THESE TERMS OF SERVICE. BY ACCESSING AND/OR USING THIS PLATFORM YOU
INDICATE YOUR UNDERSTANDING AND ACCEPTANCE OF THESE TERMS. IF YOU DO NOT ACCEPT
THESE TERMS, YOU SHOULD IMMEDIATELY LEAVE THE PLATFORM AND DISCONTINUE THE USE
OF THE SERVICES.
        </p></b>

        <!--- until here --->
       
          <p><b>Address:</b> Deep Eigen, 42-Abhinav Regal Homes, Awadhpuri, 462022, Bhopal, MP, India 
            <br>
            <b>Email:</b> <a style="color:#00004d;" href="mailto: contact@deepeigen.com">contact@deepeigen.com</a>
          </p>
      </div>
    </div>	
    </div>
    

  </main>
  <!-- End #main -->
  <div class="container">
    <ol aria-label="breadcrumbs" class="breadcrumblist" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="menubar">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="{% url 'home'%}" itemprop="item">
          <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deep Eigen</font></font></h6>
        </a>
        <meta content="1" itemprop="position">
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Terms</font></font></h6>
        <meta content="2" itemprop="position">
      </li>
    </ol>
  </div>
{% endblock %}