{% extends 'base.html' %}

{% load static %}

{% block content %}
<main id="main">

  <div class="container">
    {% include 'includes/alerts.html' %}
    
    <div class="row">
      {% if enrolled_user %}
        {% include 'courses/section_sidebar.html' with course=course sections=sections modules=modules enrolled_user=enrolled_user %}

        {% if section_lock_flag %}
          <div class="col-md-9 aos-init aos-animate">
            <!-- Tabs content -->
            <div class="tab-content pb-5" data-aos="fade-left">
              <div class="tab-pane fade shadow rounded bg-white show active p-5">
                <div id="overview">
                  <p class="alert alert-danger">Please submit the assignment of previous section inorder to proceed with this section</p>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-md-9 aos-init aos-animate">
            <!-- Tabs content -->
          <div class="tab-content pb-5" data-aos="fade-left">
            <div class="tab-pane fade shadow rounded bg-white show active p-5">
              <h4 class="font-italic mb-4 dark-blue">Welcome to {{section.name}}!</h4>
              <div id="overview">
                {{section.welcome_description | safe}}
              </div>
            </div>
          </div>

          <div class="tab-content pb-5" data-aos="fade-left">

            <div class="tab-pane fade shadow rounded bg-white show active p-5">
              <div class="row">
                <h4 class="col-3 font-italic mb-4 dark-blue"><i class="fas fa-graduation-cap"></i>{{section.name}}</h4>
                <div class="col-9">
                  <b>Estimated Time:</b>
                  {% if section.estimated_time %}
                    {{ section.estimated_time }}
                  {% else %}
                    00 hr 00 mn, Total Lectures: 0, Total TA Lectures: 0, Assignments: 1
                  {% endif %}
                </div>
              </div>
              <br>

              <div class="col-12" id="overview">
                <b>Topics Covered: </b>
                {{section.topics_covered}}
              </div>
              <br>
              <hr class="orange_row">
              
              {% for module in modules %}
                    
                    <div class="row">
                      <div class="col-md-12">
                        {% if module.name %}
                          <h4 class="font-italic mb-4 dark-blue">{{module.name}} : {{module.title}}</h4>
                        {% else %}
                          <h4 class="font-italic mb-4 dark-blue">{{module.title}}</h4>
                        {% endif %}
                      </div>
                    </div>
                      
                    <div class="row">
                        <div class="col-lg-12 left-contents">

                        <!-- Rounded tabs -->
                        <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
                            <li class="nav-item flex-sm-fill">
                            <a id="main_lectures-tab{{module.id}}" data-toggle="tab" href="#main_lectures{{module.id}}" role="tab" aria-controls="main_lectures{{module.id}}" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Main Lectures</a>
                            </li>
                            <li class="nav-item flex-sm-fill">
                            <a id="ta_lectures-tab{{module.id}}" data-toggle="tab" href="#ta_lectures{{module.id}}" role="tab" aria-controls="ta_lectures{{module.id}}" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">TA Lectures</a>
                            </li>
                            <li class="nav-item flex-sm-fill">
                            <a id="programming_lectures-tab{{module.id}}" data-toggle="tab" href="#programming_lectures{{module.id}}" role="programming_lectures{{module.id}}" aria-controls="instructors" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Programming Lectures</a>
                            </li>
                            <li class="nav-item flex-sm-fill">
                            <a id="assignment-tab{{module.id}}" data-toggle="tab" href="#assignment{{module.id}}" role="tab" aria-controls="assignment{{module.id}}" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold">Assignments</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div id="main_lectures{{module.id}}" role="tabpanel" aria-labelledby="main_lectures-tab{{module.id}}" class="tab-pane fade px-4 py-5 show active">
                                {% for video in module.get_main_lectures %}
                                    <div class="row">
                                      <div class="col-md-9">
                                        <a href="#video{{video.id}}" class="btn btn-info btn-sm LectureTitle pb-2" data-toggle="collapse"><i class="fas fa-play-circle orange-headings"></i> {{video.title}}</a>
                                        <span>({{video.duration}})</span>
                                      </div>
                                    </div>
                                    <br><br>
                                    <div id="video{{video.id}}" class="collapse">
                                        <iframe src="{{video.link}}" width="640" height="360" frameborder="0" allow="fullscreen" allowfullscreen="" class="video-mask embed-responsive-item LectureVideos" data-ready="true"></iframe>
                                    </div>
                                    <br>
                                {% endfor %}

                            </div>
                    
                            <div id="ta_lectures{{module.id}}" role="tabpanel" aria-labelledby="ta_lectures-tab{{module.id}}" class="tab-pane fade px-4 py-5">
                                {% for video in module.get_ta_lectures %}
                                <div class="row">
                                  <div class="col-md-9">
                                    <a href="#video{{video.id}}" class="btn btn-info btn-sm LectureTitle pb-2" data-toggle="collapse"><i class="fas fa-play-circle orange-headings"></i> {{video.title}}</a>
                                    <span>({{video.duration}})</span>
                                  </div>
                                </div>
                                <br><br>
                                <div id="video{{video.id}}" class="collapse">
                                    <iframe src="{{video.link}}" width="640" height="360" frameborder="0" allow="fullscreen" allowfullscreen="" class="video-mask embed-responsive-item" data-ready="true"></iframe>
                                </div>
                                <br>
                                {% empty %}
                                    <div class="row text-center">
                                        <h4>No Teaching Assistant Lectures for this Unit</h4>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="programming_lectures{{module.id}}" role="tabpanel" aria-labelledby="programming_lectures-tab{{module.id}}" class="tab-pane fade px-4 py-5">
                                {% for video in module.get_programming_lectures %}
                                  <div class="row">
                                    <div class="col-md-9">
                                      <a href="#video{{video.id}}" class="btn btn-info btn-sm LectureTitle pb-2" data-toggle="collapse"><i class="fas fa-play-circle orange-headings"></i> {{video.title}}</a>
                                      <span>({{video.duration}})</span>
                                    </div>
                                  </div>
                                  <br><br>
                                  <div id="video{{video.id}}" class="collapse">
                                      <iframe src="{{video.link}}" width="640" height="360" frameborder="0" allow="fullscreen" allowfullscreen="" class="video-mask embed-responsive-item" data-ready="true"></iframe>
                                  </div>
                                  <br>
                                {% empty %}
                                    <div class="row text-center">
                                        <h4>No Programming Lectures for this Unit</h4>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="assignment{{module.id}}" role="tabpanel" aria-labelledby="assignment-tab{{module.id}}" class="tab-pane fade px-4 py-5">
                                <div class="columns download text-center">
                                  <div class="row">

                                    <div class="col-md-1"></div>
                
                                    <div class="col-md-10">
                                        <div class="invoice-items text-center">
                                          {% if module.mandatory_assignments %}
                                            <div class="table-responsive" tabindex="0">
                                              
                                              
                                            
                                              
                                              
                                              <table class="table table-bordered">
                                                    <tfoot>
                                                    
                                                      <tr>
                                                          <th class="per20 text-center">Assignment</th>
                                                          <th class="per70 text-center">Upload Assignment(Zip File only)</th>
                                                          <th class="per10 text-center">Score</th>
                                                      </tr>
                                                      {% for assignment in module.mandatory_assignments %}
                                                        <tr>
                                                            <td>
                                                              <a href="{{assignment.pdf.url}}" download><i class="fa fa-download"></i> {{assignment.name}}</a>
                                                            </td>
                                                            <td class="text-center">
                                                              {% load custom_tags %}
                                                              {% assignment_submitted assignment.id user.id as assignment_submitted %}
                                                              {% if assignment_submitted %}
                                                                <div class="m-2">
                                                                  You have submitted the assignment!
                                                                </div>
                                                              {% else %}
                                                                <br>
                                                                <form action="{% url 'course_progress' course.id course.url_link_name section.url_name assignment.id %}" method="POST" enctype="multipart/form-data">
                                                                  {% csrf_token %}
                                                                  <input type="file" accept=".zip,.rar,.7zip" name="submitted_file" />
                                                                  <br>
                                                                  <button class="buttoner mt-3" type="submit">Submit</button>
                                                                </form>
                                                              {% endif %}
                                                            </td>
                                                            {% load custom_tags %}
                                                            {% already_reviewed assignment.id user.id as assignment_score %}
                                                            {% if assignment_score.score %}
                                                              <td class="text-center">{{assignment_score.score}}/5</td>
                                                            {% else %}
                                                              <td class="text-center">Not Yet Submited</td>
                                                            {% endif %}
                                                        </tr>
                                                      {% endfor %}
                                                  </tfoot>
                                              </table>
                                            </div>

                                           
<!--                                           
                                            <h3>Failed Assignments</h3>
                                              
                                            <table class="table table-bordered">
                                              <tfoot>
                                              
                                                <tr>
                                                    <th class="per20 text-center">Submited File</th>
                                                    <th class="per70 text-center">status</th>
                                                    <th class="per10 text-center">Score</th>
                                                    <th class="per10 text-center">Date Submited</th>

                                                </tr>
                                                {% for assignment in module.mandatory_assignments %}
                                                 
                                                  
                                                  {% for a in F_A  %}
                                                  
                                                      {% if a.module == module %}
                                                      <tr>
                                                  <td> <a href="{{a.submitted_file.url}}"><i class="fa fa-download"></i> File</a> </td>
                                                  <td style="color: red;" >Failed</td>
                                                  <td>{{a.score}}</td>
                                                  <td>{{a.created_at}}</td>
                                                            {% endif %}

                                                </tr>
                                               
                                                  {% endfor %}


                                                {% endfor %}
                                            </tfoot>
                                        </table> 
                                             -->
                                              



                                          {% else %}
                                            <div class="row text-center">
                                              <h4>No Assignments for this Unit</h4>
                                            </div>
                                          {% endif %}
                                        </div>
                                    </div>
                                    
                
                                    <div class="col-md-1">
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <!-- End rounded tabs -->

                        </div>
                    </div>
              {% endfor %}
            </div>

          </div>
          </div>
        {% endif %}

        
        <!-- Tabs content -->
      {% else %}
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="tab-content pb-5">
                <div class="tab-pane fade shadow rounded bg-white show active p-5">
                <h4 class="font-italic mb-4 dark-blue">Validity Ended</h4>
                <p class="font-italic text-muted mb-2">Your Course duration has been ended, please contact us via email[contact@deepeigen.com] if you want additional time to cover the course.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
      {% endif %}
    </div>
  </div>
    
</main>
<br>
<div class="container">
    <ol aria-label="breadcrumbs" class="breadcrumblist" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="menubar">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="{% url 'home'%}" itemprop="item">
          <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deep Eigen</font></font></h6>
        </a>
        <meta content="1" itemprop="position">
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="{% url 'courses'%}" itemprop="item">
          <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Courses</font></font></h6>
        </a>
        <meta content="2" itemprop="position">
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="{% url 'course_detail' course.id course.url_link_name%}" itemprop="item">
          <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{course.title}}</font></font></h6>
        </a>
        <meta content="3" itemprop="position">
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <h6 itemprop="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{section.name}}</font></font></h6>
        <meta content="4" itemprop="position">
      </li>
    </ol>
</div>
{% endblock %}